# R project files
.Rproj.user/
.Rhistory

# R package files
*.tar.gz
*.Rcheck/

# R environment files
.RData
.Ruserdata
.Rhistory

# Heavy data files

data/patents/raw/PT_main_1_to_2000000_2023-06-13.csv
data/patents/raw/PT_main_2000001_to_4000000_2023-06-13.csv
data/patents/raw/PT_interested_party_1_to_2000000_2023-06-13.csv
data/patents/raw/PT_interested_party_2000001_to_4000000_2023-06-13.csv
data/patents/processed
data/explanatory_vars_province_month_panel.csv
data/patents/raw

# All raw data from statcan

data/statcan/raw/*